.card {
    
    margin: 3%;
    width: 19rem;
    height: 16rem;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    background-color: black;
    color: white;
    margin-left: 5%;
    border-radius: 5px;
  }
  
  .cards {
    
    display: flex;
    flex-wrap: wrap;
  }