.card {
    /*animates card elements*/
    margin: 3%;
    width: 21rem;
    transform: translateY(-2px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .cards {
    /*allows for cards to append side by side*/
    display: flex;
    flex-wrap: wrap;
  }